workflows/coach-linkedin-weekly.json
{
  "name": "coach-linkedin-weekly",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.google.com/alerts/feeds/12622169658430704927/2447811112803924648",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -16,
        -112
      ],
      "id": "752b78c6-a1fc-403d-bea7-0aa4622346e0",
      "name": "RSS Read PER individuel"
    },
    {
      "parameters": {
        "url": "https://www.google.com/alerts/feeds/12622169658430704927/4078346358534663281",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -16,
        64
      ],
      "id": "65da24fb-ab5e-4df5-b1a0-bdbe87462d84",
      "name": "RSS Read Plan epargne retraite"
    },
    {
      "parameters": {
        "url": "https://www.google.com/alerts/feeds/12622169658430704927/1415082021807555995",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -16,
        256
      ],
      "id": "a4bd6b45-7af3-4516-ac4c-f9c228cb2790",
      "name": "RSS Read Assurance Vie fiscalite"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        -16
      ],
      "id": "de0f108f-649e-4176-9621-ea35f2fbeee2",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "claude-haiku-4-5-20251001"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu dois rédiger un post LinkedIn sur la niche patrimoine/finance.\n\nTitre : {{ $json.title }}\nExtrait : {{ $json.contentSnippet }}\n\n\nTon : expert vulgarisateur, direct, sans jargon inutile.\nCible : salariés 30-45 ans qui commencent à investir.\nFormat : texte brut, pas de hashtags, pas d'émojis.\nCommence directement par le contenu, pas par \"Voici un post\".\n\nTermine le post par une ligne : \"Source : [titre de l'article]\"\nEt inclus ce lien en dernière ligne : {{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "d2379b7a-b34f-423b-b9db-a70d8f4dee8b",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "BPJsxofslZ6ey9Nq",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const post = item.json.content[0].text;\n  return { json: { post } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        352
      ],
      "id": "ef28978c-24f7-4804-adbf-73a638f772bf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "nba67000@gmail.com",
        "subject": "=Posts LinkedIn — semaine du {{ $now.format('dd-MM-yyyy') }}",
        "message": "=<h2>Post LinkedIn généré</h2> <p>{{ $json.post }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        352
      ],
      "id": "53a2d478-fce1-41d4-a402-6e20039428fa",
      "name": "Send a message",
      "webhookId": "d3ee7aec-22ad-44c4-a7ee-db483c4c4f5e",
      "credentials": {
        "gmailOAuth2": {
          "id": "RGEKT9Bed0qLcwO2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a24cadbb-f38e-427b-8a73-9b2071b3c27d",
              "leftValue": "={{ $json.title }}",
              "rightValue": "PER",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cf8acc4f-22ba-49c6-a970-1acc0798c5dc",
              "leftValue": "={{ $json.title }}",
              "rightValue": "fiscalité",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cc356061-601a-4572-a7dc-1f53764fda84",
              "leftValue": "={{ $json.title }}",
              "rightValue": "assurance",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ef05898a-f397-4a18-824e-599dfa9f9663",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Impôts",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "42a005ab-29eb-422f-ac4e-5f208a53c819",
              "leftValue": "={{ $json.title }}",
              "rightValue": "épargne",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "4b213fad-0f32-4530-b7f3-30e5b5056569",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Crédit",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        544,
        -16
      ],
      "id": "beb03c98-5047-4c28-9fbf-749231d595a8",
      "name": "Filter",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        752,
        -16
      ],
      "id": "a7f019ad-fa09-4fba-9198-12d166873962",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        112
      ],
      "id": "0c551b53-04b3-4a65-903a-68158dc146c9",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read PER individuel": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read Plan epargne retraite": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read Assurance Vie fiscalite": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read PER individuel",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read Plan epargne retraite",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read Assurance Vie fiscalite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d771fffa-f102-42f1-8a1f-597c93b21671",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1fc261297231a0d75162aaa94a0f254aa20a48c3d722c4702520408a27bc410"
  },
  "id": "i6ZXujhRfbYwHNxs",
  "tags": []
}